/* BODY */
body {
    height: 100%;

    font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;

    background-color: #030712;
}

/* HEADER */
header {
    width: 100%;

    padding: 10px;

    color: white;
    background-color: #030712;

    border-bottom: 1px solid #D1D5DB;
}

header .app-title {
    display: flex;
    align-items: center;
}

/* MAIN */
main {
    padding: 10px;
}

/* MAIN Form Div */
.form-div {
    width: 100%;

    padding: 10px;

    border: 1px solid #D1D5DB;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Add Form */

#add-form {
    width: 100%;

    color: white;

    display: none;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: stretch;
}

#add-form input {
    background-color: #030712;
    color: white;
    border: none;
}

#add-form input#is-complete-add {
    display: inline;
}

/* Search Form */

#search-form {
    width: 100%;

    display: none;
    justify-content: center;
    align-items: stretch;
}

#search-form input {
    width: 100%;
    background-color: #030712;
    border: none;
    color: white;
}

/* Edit Form */

#edit-form {
    width: 100%;

    color: white;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: stretch;
}

#edit-form input {
    background-color: #030712;
    color: white;
    border: none;
}

#edit-form input#is-complete-edit {
    display: inline;
}

.book-card {
    border: 1px solid black;
    display: flex;
    align-items: center;
}