/* BODY */
body {
    height: 100%;

    font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;

    background-color: #030712;
}

/* HEADER */
header {
    width: 100%;

    padding: 10px;

    color: white;
    background-color: #030712;

    border-bottom: 1px solid #D1D5DB;

    display: flex;
    justify-content: space-between;
    align-items: stretch;

    position: sticky;
    top: 0;
    left: 0;
}

header .app-title {
    display: flex;
    align-items: center;
}

header .app-title i {
    font-size: 30px;
}

header menu {
    display: flex;
    gap: 10px;
    align-items: stretch;

    padding: 0;
}

header menu button {
    color: white;
    background-color: #030712;
    border: none;
}

header menu button:hover {
    background-color: #1F2937;
}

/* MAIN */
main {
    padding-block: 20px;
    padding-inline: 10px;

    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

/* MAIN Form Div */
.form-div {
    width: 100%;

    padding: 10px;

    border: 1px solid #D1D5DB;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Add Form */

#add-form {
    width: 100%;

    color: white;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: stretch;
}

#add-form input {
    background-color: #030712;
    color: white;
    border: none;
    border-bottom: 1px solid #D1D5DB;
}

#add-form input#is-complete-add {
    display: inline;
}

#add-form button {
    color: white;
    background-color: #030712;
    border: 1px solid #D1D5DB;
    border-radius: 10px;
}

/* Search Form */

#search-form {
    width: 100%;

    display: none;
    justify-content: center;
    align-items: stretch;
}

#search-form input {
    width: 100%;
    background-color: #030712;
    border: none;
    color: white;
}

/* Edit Form */

#edit-form {
    width: 100%;

    color: white;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: stretch;
}

#edit-form input {
    background-color: #030712;
    color: white;
    border: none;
    border-bottom: 1px solid #D1D5DB;
}

#edit-form input#is-complete-edit {
    display: inline;
}

/* Shelf */
.shelves-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
}

.shelves-div > div {
    padding: 10px;

    color: white;

    border: 1px solid #D1D5DB;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shelves-div > div > h2 {
    border-bottom: 1px solid #D1D5DB;
}

.shelves-div > div .books-div {
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.book-card {
    padding: 10px;

    border: 1px solid #D1D5DB;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.book-card .book-detail {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.book-card .book-action {
    display: none;
    justify-content: space-evenly;
}

.book-card .book-action button {
    padding: 3px;

    height: fit-content;

    color: white;

    background-color: #030712;
    border: none;
}

.book-card .book-action button:hover {
    background-color: #374151;
    border-radius: 10px;
}

/* DIALOG */
dialog {
    margin: auto;

    color: white;

    background-color: #030712;

    border: 1px solid #D1D5DB;
    border-radius: 10px;
}

dialog::backdrop {
    backdrop-filter: blur(1px);
}

dialog form {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: stretch;
}

dialog form button {
    color: white;
    background-color: #030712;
    border: 1px solid #D1D5DB;
    border-radius: 10px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    main {
        padding-inline: 12%;
    }

    .form-div {
        width: 75%;
    }

    .shelves-div {
        width: 100%;
        flex-direction: row;
    }

    .shelves-div > div {
        width: 50%;
    }
}